h1{
    color: red;
}
div{
    border : 1px solid black;
}
body{
    padding: 0px;
}
main{
    display: flex;
    height: 100vh;
}
div.sidebar{
    width: 20%;
}
div.content{
    width: 80%;
}
fieldset.form-main{
    display: flex;
    flex-wrap: wrap;
}
.form-main p{
    flex-grow: 1;
    width: calc(100% * (1/2) - 10px);
    display: flex;
    flex-direction: column;
}
